body{
    background-color: rgb(211, 39, 154);
    color: oklch(0% 0 0);
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(from color rgb(253, 253, 253));
    padding: 20px;
    font-size: 32px;
    color: rgb(124, 180, 230);
}